.idea/
.gradle/
.settings
.project
.classpath
ant_output
**/build
*.iws
*.ipr
*.iml
.toDelete
**/generatedsources
**/out
.shelf
*.orig
/target

*.tests.logfile.log
*.tests-common.logfile.log
gradle.properties
*.log